/*
 * Colors: https://coolors.co/f92a82-ed7b84-f5dbcb-d6d5b3-7eb77f
 * #f92a82
 * #ed7b84
 * #f5dbcb
 * #d6d5b3
 * #7eb77f
 * */
body {
  background: red;
}

div#simple-app-container {
  background: white;
  min-height: 500px;
}
